---
import Layout from "../layouts/Layout.astro";
import PlaylistItemCard from "@/components/PlaylistItemCard.astro";

import { playlists } from "@/lib/data";
---

<Layout title="Spotify Clone">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-green-600"
  >
    <!-- >PageHeader />  -->
    <div class="relative z-10 px-6">
      <!-- <Greetings />  -->
      <h1 class="text-4xl">Good night</h1>
      {playlists.map((playlist) => <PlaylistItemCard playlist={playlist} />)}
    </div>
  </div>
</Layout>
<style></style>
